<header>
    <h1 id="title">
        <a href="/">{{site.title}}</a>
    </h1>
    <p id="description">
        {{site.description}}
    </p>

    <hr/>
    <nav id="navigation">
      <a href="/{{site.baseurl}}">Home</a>
        /
        {% for page in site.pages %}
        <a href="{{site.baseurl}}{{ page.url }}">{{page.title}}</a>
            /
        {% endfor %}
        <a href="{{site.baseurl}}/feed.xml">RSS</a>
        /
        <a href="https://www.linkedin.com/in/{{site.linkedin}}">Employ me!</a>
    </nav>
    <hr/>
</header>
